/auto-save-list/.saves-1542-blackmore~
/auto-save-list/.saves-2123-blackmore~
/auto-save-list/.saves-5409-blackmore~
/auto-save-list/.saves-2587-blackmore~
/backups/!home!toij!.bashrc~
/backups/!home!toij!Desktop!INF5510v11-H1.tex~
/backups/!home!toij!INF5510v12-Oblig2.tex~
/backups/!home!toij!code!devilry-django!src!devilry_subjectadmin!devilry_subjectadmin!static!devilry_subjectadmin!app!model!AllWhereIsAdmin.js~
/backups/!home!toij!code!devilry-django!src!devilry_subjectadmin!devilry_subjectadmin!static!devilry_subjectadmin!app!store!AllWhereIsAdmins.js~
/backups/!home!toij!code!master-thesis!code!linjeavstand!test.cpp~
/backups/!home!toij!code!master-thesis!msreport-template!chapter1.tex~
/backups/!home!toij!code!master-thesis!msreport-template!chapter2.tex~
/backups/!home!toij!code!master-thesis!msreport-template!chapter3.tex~
/backups/!home!toij!code!master-thesis!msreport-template!chapter4.tex~
/backups/!home!toij!code!master-thesis!msreport-template!code-examples!computevh.cpp~
/backups/!home!toij!code!master-thesis!msreport-template!code-examples!vh_types.c~
/backups/!home!toij!code!master-thesis!msreport-template!code-examples!vhttypes.c~
/backups/!home!toij!code!master-thesis!msreport-template!conclusion.tex~
/backups/!home!toij!code!master-thesis!msreport-template!evaluation.tex~
/backups/!home!toij!code!master-thesis!msreport-template!inet.bib~
/backups/!home!toij!code!master-thesis!msreport-template!utenref-vh-sampling.tex~
/backups/!home!toij!code!master-thesis!msreport-template!vh-rendering.tex~
/backups/!home!toij!code!nrk-radio!nrk-programlist!urlutils.py~
/backups/!home!toij!code!nrk-radio!radio.py~
/backups/!home!toij!code!symphonical!symphonical2!harmony!prodenv!awsfab_setting_local.py~
/backups/!home!toij!code!verdione!build!examples!capture!pylonExample!CMakeFiles!pylonExample.dir!link.txt~
/backups/!home!toij!code!verdione!contrib!private-lib!lib!pkgconfig!opencv.pc~
/backups/!home!toij!code!verdione!private!toij!toij-ucCameraExample!CMakeLists.txt~
/backups/!home!toij!code!verdione!private!toij!toij-ucCameraExample!ucCameraExample.cpp~
/backups/!home!toij!code!verdione!private!toij!visual_hull!MburySilhouettes.cpp~
/backups/!home!toij!code!verdione!private!toij!visual_hull!MburySilhouettes.h~
/backups/!home!toij!master!master-thesis!msreport-template!main.rip~
/backups/!home!toij!test!hello.cpp~
/session.107ffd7c0be8fdac47133140521364270400000016010050
/session.1094b815bc013391f13722336068438400000019320044
/session.10f19dc582622376c0137232936132224600000019140044
/session.10fe9abaaf726807f9137217070059257700000017840043
/url/cookies
